@mixin flex($a: center, $j: center){
    display: flex;
    align-items: $a;
    justify-content: $j;
}

@mixin size($h, $w){
    height: $h;
    width: $w;
}

@mixin imageCenter(){
    object-fit: cover;
    object-position: center;
}

@mixin mobile{
    @media(max-width:425px){
      @content;
    }
}

@mixin pad{
    @media(max-width:1000px){
      @content;
    }
}

@mixin deskTopOnly {
    @include mobile {
        display: none;
    }
}

@mixin mobileOnly {
    @include mobile {
        display: none;
    }
}